body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button + button{
	margin-left: .5em
}

.list-group{
	margin-bottom: 10px;
}

.list-group-item > .list-group{
	margin-top: 20px;
}